IO_LOC  "d_out" 31;
IO_PORT "d_out" DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC  "load" 49;
IO_PORT "load" DRIVE=4 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk_out" 48;
IO_PORT "clk_out" DRIVE=4 IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
